[buildout]
extends = http://dist.plone.org/release/4.1-latest/versions.cfg

[versions]
collective.fastview = 0.2.2

# Do not remove zc-buildout from this file as it's used by install.sh
zc.buildout=1.5.2
